.search-form {
    position: relative;
    width: 90%;
    margin: auto;
    input {
        padding: 4px;
        padding-left: 1rem;
        width: 100%;
        outline: none;
        border: 1px solid #ff7f50;
    }
    .btn-search{
        position: absolute;
        right: 0;
        padding: 4px;
        border: 1px solid #ff7f50;
    }
    .close {
        position: absolute;
        right: 4rem;
        top: 4px;
        padding: 0 1rem;
        cursor: pointer;
        &::after {
            position: absolute;
            width: 1px;
            height: 21px;
            content: '';
            top: 0;
            right: 2.5rem;
            background-color: #ff7f50;
        }
    }
}