.header {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 61px;
    position: relative;
    background-color: #ff7f50;
    color: #ffffff;
    box-shadow: 0px 1px 10px 0px red;
    .header-arrowIcon {
        padding: 10px 20px;
        position: absolute;
        font-size: 24px;
        left: 0;
        // top: 50px;
        transform: translateY(0);
        cursor: pointer;
        opacity: .8;
        &:hover {
            opacity: 1;
        }
    }
    .icon-bar {
        font-size: 1.5rem;
    }
    h2 {
        text-transform: uppercase;
    }
}